.model {
  &-container {
    padding-top: 32px;
  }
  &-content {
    position: relative;
    justify-self: center;
  }
  &-img {
    width: 280px;
  }
  &-tooltip {
    position: absolute;
    &-1 {
      top: 88px;
      left: 80px;
    }
    &-2 {
      top: 16px;
      right: 24px;
    }
    &-3 {
      bottom: 28px;
      left: 50px;
    }
    &-4 {
      bottom: 100px;
      left: 20px;
    }
  }
}
